.git
.github
.cursor
.ai
.idea
.vscode
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/logs
storage/pail
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.md
tests
agent-transcripts
